<nav class="navbar">
    <div>
         
        <span style="background-color: white; border-radius: 25px">  
        <a href="/secrets">See Secrets</a>
        <a href="/secrets/new">Confess your own secret!</a>
        <a href="/users/register">Create account</a>
    </span>
    </div>
</nav>