<nav class="navbar">
    <div>
         
        <span> | </span>
        <a href="/secrets">See Secrets</a>
        <a href="/secrets/new">Confess your own secret!</a>
        <a href="/users/register">Create account</a>
        <a href="/users/login">Login</a>
    </div>
</nav>