<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/secrets/"    method="POST">
    <input type="text" name="category"/>
    <input type="text" name="content"/>
    <input type="text" name="confessor" value="62699e0e907ebe9fe7f4e2b9"/>
    <input type='submit' value="create confession"/>

</form>


    <h1>please work</h1>
</body>
</html>