<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"/> -->
    <title>Create a secret</title>
</head>
<body style="background-image: url(https://w0.peakpx.com/wallpaper/782/396/HD-wallpaper-the-secret-movie-acceptance-gratitude-law-of-attraction-prosperity-rhonda-byrne-the-secret-wealth-wish-wish-fulfillment.jpg); background-size: 100vw;  background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;">
    <h1 style='color:white' >Post a Secret</h1>
<form style='color:white' action="/secrets/"    method="POST">
    Category:<br>
    <input type="text" name="category"/><br>
    Content:<br>
    <input  type="text" name="content"/><br>
    username:<br>
    <input type="text" name="username"/><br>
    <input type='submit' value="create confession"/>
</form>


</body>
</html>