<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs')  %> >
<body style="background-image: url(https://w0.peakpx.com/wallpaper/782/396/HD-wallpaper-the-secret-movie-acceptance-gratitude-law-of-attraction-prosperity-rhonda-byrne-the-secret-wealth-wish-wish-fulfillment.jpg); background-size: 100vw;  background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;">

    <%- include('partials/nav.ejs')%>

    <h1 style='color:white' >Post a Secret</h1>
    <form style='color:white' action="/secrets/"    method="POST">
    Category:<br>
    <input type="text" name="category"/><br>
    Content:<br>
    <input  type="text" name="content"/><br>
    username:<br>
    <input type="text" name="username"/><br>
    <input type='submit' value="create confession"/>
</form>


</body>
</html>