<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs')  %> 
<body style="background-image: url(https://media.istockphoto.com/photos/white-lines-and-spheres-picture-id1135638647?b=1&k=20&m=1135638647&s=170667a&w=0&h=j32QwPBMCmdX9ViKWvitis6N3l3Wl-lBEl1Ut9ImiBk=); background-size: 100vw; background-repeat: repeat-y; background-size: 100vw;  background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;">

    <%- include('partials/nav.ejs')%>

    <h1 style='color: lightskyblue; font-size: 80px; text-align: center; background-color: white; border-radius: 25px;' >Post a Secret</h1>
    <h2 style='color: lightskyblue; font-size: 40px; text-align: center; background-color: white; border-radius: 25px;' >Before you post, create an account. Link is above.</h2>



    <form action="/secrets/"    method="POST">
   
    <input style= 'color: black; font-size: 30px; background-color: white; border-radius: 25px;' type="text" name="content" placeholder="tell us your secret here"/>
    <p><br></p>
    <input style= 'color: black; font-size: 30px; background-color: white; border-radius: 25px;' type="text" name="category" placeholder="secret category"/>
    <p><br></p>
    <input style= 'color: black; font-size: 30px; background-color: white; border-radius: 25px;' type="text" name="username" placeholder="username here"/>
    <p><br></p>
    <input style= 'color: lightskyblue; font-size: 30px; background-color: white; border-radius: 25px;' type='submit' value="create confession"/>
</form>


</body>
</html>