<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"/> -->
    <title>Secret Comment</title>
</head>
<body>
  <h1>Show Page</h1>
  <p><%= message %></p>
  <!-- secret object referenced by oneSecret -->
  <small><%= oneSecret.category %></small>
  <h2><%= oneSecret.content %></h2>
  

  <section>
      <h2>Comments</h2>
      <div>
          <h3>Add a Comment:</h3>
      </div>
      <h2></h2>
      <form action="/secrets/comments" method="POST">
  
        <select name="rating" id="rating">
        <option value="0">rate</option></select>
        <input type="hidden" value="<%= oneSecret._id%>" name="secret">
    
        <input type="text" name="content"/>
        <input type="submit" value="Comment" name="Comments.content">
      </form> 


      
      </html>    
      </body>
      
