
.navbar {
  font-size: 24px;
  
}


h1 {
  font-size: 60px ;
  font: white;

}

.subheading {
  text-align: center;
  font-size: 20px ;
  font: white;

}


  .text-block {
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }



  body {
  	background-color: black;
    font: white;
    font-size: 25 px;
    padding: 80px 20px 40px 20px;
    margin: 0 auto;
    max-width: 56em;
    padding: 1em 0;
}



#edit {
  width: 60px;
  padding: 10px;
  margin: 10px;
  
}

#delete {
  width: 60px;
  padding: 10px;
  margin: 10px;
}



.image_container {
height: 300px;
width: 300px;
top: -200px;
border-radius: 15px;
opacity: 0.7;
display: grid;
  position: relative;
}

  
 
  .container {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
  }

.secret_container {
  height: 400px;
  width: 400px;
  border-radius: 15px;
  border: 15px solid hotpink;
  padding: 5px;
  margin: 20px;
  top: -20%;
  text-align: center;
  display: flex;
  flex-direction: column;
}


#bottom {
  justify-content: end;
  align-self: end;
  padding: 20px;
}













