/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"; */


h1 {
  font-size: 60px ;
  font: white;
}

h2 {
  font-size: 30px ;
  font: white;
}

  body {
  	background-color: black;
    font: white;
    font-size: 25 px;
    text-align: center;
    height: 500px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 0px 40px 20px 40px;
}


.secret {
  
  border: 15px solid hotpink;
  padding: 5px;
  margin: 20px;
  height: 400px;
  width: 400px;
  top: -200px;
  border-radius: 15px;
}

.edit {
  width: 60px;
  border: 5px solid white;
  padding: 10px;
  margin: 10px;
}

.delete {
  width: 100px;
  padding: 10px;
  margin: 10px;
  border: 5px solid white;
}



.image_container {
height: 400px;
width: 400px;
position: relative;
    top: -200px;
    border-radius: 15px;
    opacity: 0.7;
}

